<!DOCTYPE html>
<html>
<head>
    <title>Mohammad</title>
    <link rel='stylesheet' href='/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">

</head>
<body>	
	<div class="header">
		<h1 class="header-item header-item-one">Profile Template App</h1>
		<span class="header-item">
			<a href="/feed">Feed</a>
			<a href="/Profile">Profile</a>
		</span>
	</div>
	<h2 class="user-name">Mohammad</h2>
	<img class="user-pic" src="https://media-exp1.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAsdAAAAJGIzZWEyNTdhLTk1NDItNGYxMi1iMmFkLTQwYzI1OGJlOTVhOQ.jpg" alt="user profile image"/>

	<div class="user-info">
		<h3>User Info</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum porttitor eros ac auctor. Proin tempor varius mollis. Cras id finibus justo. Proin tincidunt egestas nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consectetur mauris rhoncus nisi tincidunt, sed feugiat velit interdum. Donec laoreet, tortor vitae sodales maximus, eros augue dictum lacus, in facilisis dui odio eu elit. Vivamus hendrerit vestibulum tortor at sodales. Praesent vulputate risus vitae mauris elementum vestibulum. Mauris consectetur rutrum urna, non feugiat urna bibendum eu. Integer euismod mi quis lacus iaculis laoreet. Pellentesque pretium dolor id velit consectetur ornare. Mauris vulputate, arcu vel condimentum rutrum, lectus risus congue lorem, vitae placerat ipsum tellus ac magna. Maecenas venenatis tortor urna, a cursus justo dignissim nec. Nullam a porttitor enim, eget volutpat purus.
		</p>
	</div>

	<h3>Friends</h3>
	<ul>
		<li>Robert</li>
		<li>Sara</li>
		<li>Tom</li>
		<li>Pat</li>
	</ul>
    <script src='/script.js'></script>
</body>
</html>
