body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
ul{
	list-style: none;
	display: inline;
}
.user-name{
	text-decoration: underline;
}
.user-pic{
	width: 20vw;
	height: auto;
	border: 2px solid black;
}
.user-info{
	background: #eee;
	display: inline-block;
	margin: 0px 20vw 0px 20vw;
}
.header{
	display: flex;
}
.header-item{
	flex: 1;
}
.header-item-one{
	flex: 3;
	font-family: 'Nova Flat', cursive;
	color: #e74c3c;
}